<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2"
                [routerLink]="'/cadastrar'" (click)="cadastrarItens()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="itens" [rows]="10" [paginator]="true" 
        [rowHover]="true" dataKey="id"
         [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Listar Itens</h5>                
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr>                
                <th>Nome</th>
                <th>Unidade</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Perecível</th>
                <th>Validade</th>
                <th>Fabricação</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                
                <td>{{item.nome}}</td>
                <td>{{item.unidade}}</td>
                <td>{{item.quantidade}}</td>
                <td>R$ {{item.preco}}</td>
                <td>{{item.perecivel}}</td>
                <td>{{item.dataValidade}}</td>
                <td>{{item.dataFabricacao}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editItem(item)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteItem(item)"></button>
                </td>
            </tr>
        </ng-template>
      
       
    </p-table>




</div>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Sim" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="Não" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast position="bottom-center" key="bc" ></p-toast>

<p-dialog [(visible)]="itemDialog" [style]="{width: '450px', height:'1000px'}" header="Detalhe do Item" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Nome</label><span style="color: red">*</span>
            <input type="text" required="required" pattern="[a-z\s]+$" maxlength="50" pInputText id="name" [(ngModel)]="itemSelecionado.nome" required autofocus />
            <div *ngIf="validaInputNome()">
                <small  id="username-help" class="p-error">nome deve conter apenas letras e ter menos de 50 digítos</small>      
            </div>   
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Preço</label>
                <p-inputNumber id="price" [(ngModel)]="itemSelecionado.preco"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="quantity">Quantidade</label>
                <p-inputNumber id="quantity" [(ngModel)]="itemSelecionado.quantidade"></p-inputNumber>
                
            </div>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label>Unidade de medida </label>
                <p-dropdown  [(ngModel)]="itemSelecionado.unidade"  [options]="listaDeUnidade"></p-dropdown>   
            </div>
            <div class="p-field p-col">
                <label>Produto Perecível </label>
                <p-selectButton [(ngModel)]="itemSelecionado.perecivel"  [options]="stateOptions" optionLabel="label" optionValue="value" ></p-selectButton>
            </div>
        </div>
        <div class="p-field">
            <label for="icon">Data de validade</label>
            <p-calendar [(ngModel)]="itemSelecionado.dataValidade"  dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="p-field">
            <label for="icon2">Data de fabricação</label>
            <p-calendar [(ngModel)]="itemSelecionado.dataFabricacao" dateFormat="dd/mm/yy"  [showIcon]="true" inputId="icon2"></p-calendar>
        </div>        
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    </ng-template>
    
    <ng-template pTemplate="footer">
        
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onCancel()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSalvar()"></button>
    </ng-template>
</p-dialog>