<form class="form-horizontal" [formGroup]="itemFormulario" (ngSubmit)="onSubmit()">
    <div class="p-grid p-fluid">
        <div class="p-col-12">
            <div class="p-inputgroup">
                <h2>Cadastrar Item</h2>
            </div>
        </div>
        <div class="p-field p-col-12 p-md-4">            
                <label>Nome </label><span style="color: red">*</span>
                <input required="required" formControlName="nome" type="text" pattern="[a-z\s]+$" maxlength="50" pInputText />
                <div *ngIf="validaInput('nome')">
                    <small  id="username-help" class="p-error">nome deve conter apenas letras e ter menos de 50 digítos</small>      
                </div>                     
        </div>

        <div class="p-field p-col-12 p-md-4">           
                <label>Unidade de medida</label><span style="color: red">*</span>
                <p-dropdown formControlName="unidade" [options]="listaDeUnidade" (click)="verificaUnidade()"></p-dropdown>                            
        </div>
        <div class="p-field p-col-12 p-md-2">            
                <label>Quantidade </label>
                <div class="p-inputgroup">  
                    <input formControlName="quantidade"  type="number" [max]="quantidadeMaxima" (keypress)="validaQuantidade()" (keyup)="limitDigits($event)" pInputText />                    
                    <span class="p-inputgroup-addon">{{medidaUsada}}</span>
                </div>
                <div *ngIf="validaInput('quantidade')">
                    <small  id="username-help" class="p-error">Campo incorreto</small>      
                </div> 
        </div>
        <div class="p-field p-col-12 p-md-2">
            <label>Preço</label><span style="color: red">*</span>
            <div class="p-inputgroup">               
                <span class="p-inputgroup-addon">R$</span>
                <input currencyMask formControlName="preco" type="text" pInputText placeholder="Preço" [options]="{ prefix: 'R$', thousands: '.', decimal: ',' }" > 
                               
            </div>
        </div>
        <div class="p-field p-col-12 p-md-2">           
                <label>Produto Perecível</label><span style="color: red">*</span>
                <p-selectButton  required="required" formControlName="perecivel"  [options]="stateOptions" optionLabel="label" optionValue="value" (click)=atualizaPerecivel() ></p-selectButton>
                <div *ngIf="validaInput('perecivel')">
                    <small  id="username-help" class="p-error">Campo obrigatório</small>      
                </div> 
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="icon">Data de validade</label><span *ngIf="obrigaValidade" style="color: red">*</span>
            <p-calendar  [required]="obrigaValidade"  formControlName="dataValidade" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon" (click)="verificaVencimento()"></p-calendar>
            <div *ngIf="obrigaValidade">
                <small  id="username-help" class="p-error">Produto perecível, coloque a data de validade</small>      
            </div>  
            <div *ngIf="produtoVencido">
                <small  id="username-help" class="p-error">Atenção: O produto está vencido</small>      
            </div>  
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="icon">Data de fabricação</label><span style="color: red">*</span>
            <p-calendar  [required]="true" formControlName="dataFabricacao"[showIcon]="true" inputId="icon"></p-calendar>
            <div *ngIf="verficaDataFabrica()">
                <small  id="username-help" class="p-error">Data de Fabrica não pode ser maior que validade</small>      
            </div>  
        </div>       
        <div class="p-field p-col-12 p-md-1">           
            <button pButton pRipple type="submit" label="Enviar"></button>              
        </div>
        <div class="p-field p-col-12 p-md-1">     
            <button pButton pRipple type="button" label="Cancelar" class="p-button-secondary"  [routerLink]="'/listar'"  (click)="listarItens()"></button>          
        </div>      

    </div>
    <!-- <app-itens-lista [form] = "itemFormulario"></app-itens-lista> -->
   
</form>
<p-toast position="bottom-center" key="bc" ></p-toast>